:host {
  display: block;
}
pre {
  margin: 0;
  padding: 1rem;
  background-color: transparent !important;
  max-height: 400px;
  overflow: auto;
}
code {
  font-family: "Fira Code", Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  line-height: 1.5;
  tab-size: 2;
}
.line-numbers {
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
}
/* Estilizar la barra de desplazamiento */
pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
pre::-webkit-scrollbar-track {
  background: #2d3748;
  border-radius: 4px;
}
pre::-webkit-scrollbar-thumb {
  background: #4a5568;
  border-radius: 4px;
}
pre::-webkit-scrollbar-thumb:hover {
  background: #718096;
}
